<article class='post'>
  <div class='title'>
    <a href='/post/{{id}}'>{{title}}</a>
  </div>

  <div class="ms-3 p-1">
    {{post_body}}
  </div>

  <div>
    By
    {{user.username}}
    on
    {{format_date created_at}}
  </div>

  <div class='meta'>
    <a href='/post/{{id}}'>{{comments.length}} comment(s)</a>
  </div>
</article>